<div class="movies-wrapper">
    <div class="movie row" ng-repeat="_movies in currentList | filter:searchText">

        <div class="movie-poster col-xs-2">
            <img ng-src="{{_movies.poster}}" alt="{{_movies.title}}" class="img-responsive">
        </div>

        <div class="movie-info col-xs-10">
            <h1 class="movie-title">
                {{_movies.title}}
                <span class="movie-rating">({{_movies.rating}})</span>
            </h1>

            <div class="movie-showtimes">
                {{_movies.showtimes}}
            </div>
        </div>
    </div>
</div>