nav {

  padding-left: 8px;

  ul {

    li {

      display: inline-block;
      font-size: 0.8em;

      a {

        display: block;
        text-decoration: none;
        color: black;
        padding: 5px;
        border-bottom: 2px solid map_get($colors, light-grey);

        &:link {
          cursor: pointer;
          text-decoration: none;
          color: black;
        }

        &:hover, &.active {
          color: map_get($colors, orange);
          border-bottom: 2px solid map_get($colors, orange);
        }

      }//a
    }//li
  }//ul
}//nav