<!doctype html>
<html lang="en" ng-app="moviesApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/vendor/vendor.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div ng-controller="moviesCtrl">

    <h1>All Movies</h1>

    <div ng-repeat="movie in Movies">
        {{movie.title}} <br>
        {{movie.id}} <br>
        {{movie.rating}} <br>
        {{movie.poster}}
        <hr>
    </div>

    <h1>All Theaters</h1>

    <div ng-repeat="theater in Theaters">
        {{theater.name}}<br>
        {{theater.id}}
        <hr>
    </div>

    <h1>Showtimes for Arclight</h1>

    <div ng-repeat="archMovies in currentList">
        {{archMovies.id}}<br>
        {{archMovies.title}}<br>
        {{archMovies.rating}}<br>
        {{archMovies.poster}}<br>
        {{archMovies.showtimes}}<br>
        <hr>
    </div>



</div>


    <script src="js/vendor/vendor-bower.js"></script>
    <script src="/js/angular-apps/moviesApp/moviesApp.min.js"></script>
</body>
</html>