<!doctype html>
<html lang="en" ng-app="moviesApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bond Sample App - Harma Davtian</title>
    <link rel="stylesheet" href="/css/vendor/vendor.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="movie-app-wrapper" ng-controller="moviesCtrl">

    <div class="search-box-wrapper">
        <input type="text" ng-model="searchText" placeholder="Search movies...">
    </div>

    <nav>
        <ul>
            <li><a ng-click="getArclightMovies()" ui-sref="arclight" ui-sref-active="active">ARCLIGHT</a></li>
            <li><a ng-click="getPacificMovies()" ui-sref="pacific" ui-sref-active="active">PACIFIC THEATERS</a></li>
            <li><a ng-click="getAmcMovies()" ui-sref="amc" ui-sref-active="active">AMC</a></li>
        </ul>
    </nav>

    <div ui-view></div>

</div>

    <script src="js/vendor/vendor-bower.js"></script>
    <script src="/js/angular-apps/moviesApp/moviesApp.min.js"></script>
</body>
</html>